.coins,
.leadership-board,
.store,
.study {
  position: absolute;
  top: 15px;
  left: 220px;
  font-size: large;
  letter-spacing: 0.11em;
  font-weight: 300;
  text-decoration: none;
}
a{
  text-decoration: none;
}
.coins,
.store,
.study {
  left: 65px;
  text-decoration: none;
  
}
.coins,
.store {
  left: 485px;
  
}
.coins {
  left: 620px;
}
.icoutline-leaderboard-icon,
.vector-icon {
  position: absolute;
  top: 10px;
  left: 180px;
  width: 25px;
  height: 31px;
  overflow: hidden;
}
.vector-icon {
  height: 40%;
  width: 2.08%;
  top: 21.54%;
  right: 34.85%;
  bottom: 38.46%;
  left: 56.07%;
  max-width: 100%;
  max-height: 100%;
}
.phcoins-duotone-icon,
.phnotebook-icon {
  position: absolute;
  top: 8px;
  left: 25px;
  width: 25px;
  height: 38px;
  overflow: hidden;
}
.phcoins-duotone-icon {
  top: 1px;
  left: 585px;
  width: 25px;
  height: 45px;
}
.navigation {
  position: absolute;
  top: 15px;
  left: 310px;
  width: 812px;
  height: 65px;
  font-family: var(--font-barlow);
  cursor: pointer;
  text-decoration: none;
}
.login-rec-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  width: 150px;
  height: 44px;
  cursor: pointer;
}
.login {
  position: absolute;
  top: 12px;
  left: 45px;
  letter-spacing: 0.09em;
  display: inline-block;
  width: 93px;
  height: 22px;
  cursor: pointer;
}
.login-button {
  position: absolute;
  top: 20px;
  left: 1144px;
  width: 180px;
  height: 44px;
  color: var(--color-whitesmoke);
}

.logged-in-button {
  position: absolute;
  top: 39px;
  left: 1144px;
  width: 180px;
  height: 44px;
  color: var(--color-whitesmoke);
}


.icon {
  position: absolute;
  top: -10px;
  left: -62px;
  width: 50px;
  height: 78px;
  overflow: hidden;
}
.qizzo-rec-icon,
.quizoo1 {
  position: absolute;
  top: -1px;
  left: 0;
}
.qizzo-rec-icon {
  border-radius: var(--br-4xs);
  width: 205px;
  height: 60px;
}
.quizoo1 {
  letter-spacing: 0.11em;
  
}
.quizoo {
  position: absolute;
  top: 15px;
  left: 84px;
  width: 180px;
  height: 44px;
  font-size: 50px;
  font-family: var(--font-bangers);
}
.sign-up {
  position: absolute;
  top: 12px;
  left: 38px;
  letter-spacing: 0.09em;
  display: inline-block;
  width: 129px;
  height: 22px;
  cursor: pointer;
}
.sign-up-button {
  position: absolute;
  top: 20px;
  left: 1330px;
  width: 180px;
  height: 44px;
  color: var(--color-whitesmoke);
}
.bg-mid,
.navbar {
  position: absolute;
  width: 1600px;
}
.navbar {
  top: -6px;
  left: 0;
  background-color: rgba(160, 68, 233, 0.85);
  height: 80px;  
}
.bg-mid {
  top: 0;
  left: 3px;
  background-color: var(--color-white);
  height: 691px;
}
.d49688b462000f1a628c829aa73c08-icon {
  position: absolute;
  top: 12px;
  left: 50px;
  width: 550px;
  height: 700px;
  object-fit: cover;
}
.copyright-quiz {
  position: absolute;
  top: 48px;
  left: 275px;
  letter-spacing: 0.11em;
}
.copyrights,
.patent-rec {
  position: absolute;
  top: 3px;
  left: 681px;
  color:blueviolet;
  box-shadow: 0 4px 50px rgba(174, 4, 221, 0.25);
  width: 854px;
  height: 171px;
}
.patent-rec {
  top: 0;
  left: 0;
}
.patents-quiz {
  position: absolute;
  top: 48px;
  color:blueviolet;
  left: calc(50% - 110px);
  letter-spacing: 0.11em;
}
.patents {
  position: absolute;
  top: 210px;
  left: 682px;
  width: 854px;
  height: 171px;
  text-align: center;
}
.trademark-quiz {
  position: absolute;
  top: 48px;
  color:blueviolet;
  left: calc(50% - 200px);
  letter-spacing: 0.11em;
}
.main,
.trademark {
  position: absolute;
  top: 410px;
  left: 700px;
  width: 854px;
  height: 171px;
}
.main {
  top: 126px;
  left: -3px;
  width: 1603px;
  height: 691px;
  font-size: var(--font-size-51xl);
  font-family: var(--font-bangers);
}
.bg-bottom {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.94);
  width: 1600px;
  height: 143px;
}
.copyright-c-2023 {
  position: absolute;
  top: 104px;
  left: 34px;
  font-size: 10px;
  letter-spacing: 0.11em;
  font-weight: 600;
}
.abhishek-rajput {
  margin: 0;
}
.abhishek-rajput-dhaval-container {
  position: absolute;
  top: 52px;
  left: 1250px;
  letter-spacing: 0.11em;
  line-height: 25px;
  font-size: medium;
  /* font-weight: 600; */
}
.people-icon-1,
.people-icon-2,
.people-icon-3 {
  position: absolute;
  height: 12.41%;
  width: 0.80%;
  top: 38.06%;
  right: 16.84%;
  bottom: 50.52%;
  left: 1220px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.people-icon-2,
.people-icon-3 {
  top: 55.24%;
  bottom: 32.34%;
}
.people-icon-3 {
  top: 74.13%;
  bottom: 13.46%;
}
.designed-by {
  position: absolute;
  top: 16px;
  left: 1220px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.11em;
  font-weight: 600;
}
.p {
  margin-block-start: 0;
  margin-block-end: 3px;
}
.contact-us,
.fax-91-05734-222251-container {
  position: absolute;
  letter-spacing: 0.11em;
  font-size: medium;
  line-height: 25px;
  /* font-weight: 600; */
}
.fax-91-05734-222251-container {
  top: 53px;
  left: 730px;
  display: inline-block;
  width: 300px;
  height: 82px;
}
.contact-us {
  top: 16px;
  left: 696px;
  font-size: var(--font-size-5xl);
}
.phone-icon {
  position: absolute;
  height: 18.18%;
  width: 1.1%;
  top: 36.36%;
  right: 55.06%;
  bottom: 45.45%;
  left: 43.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fax-icon,
.mssg-icon {
  position: absolute;
  top: 86px;
  left: 692px;
  width: 25px;
  height: 17px;
  overflow: hidden;
}
.mssg-icon {
  top: 111px;
  left: 693px;
  width: 24px;
  height: 24px;
}
.about-us {
  position: absolute;
  top: 26px;
  left: 34px;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.11em;
  font-weight: 600;
}
.footer {
  position: absolute;
  top: 817px;
  left: 0;
  width: 1600px;
  height: 143px;
  font-size: var(--font-size-xl);
  font-family: var(--font-barlow);
}
.home {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 960px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}


.logged-out-button {
  position: absolute;
  top: 20px;
  left: 1100px;
  width: 180px;
  height: 30px;
  text-align: center;
  border-radius: var(--br-4xs);
  font-size: 18px;
  background-color: rgba(255, 98, 0, 0.821);
}

.profile-content{
  position: absolute;
  top: 120px;
  left: 370px;
  line-height: 60px;
  color:black;
  text-align:center;
  font-size:30px;
  letter-spacing: 0.11em;
}
.profile {
  position: absolute;
  top: 42px;
  left: 681px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(160, 68, 233, 0.85),
    rgba(160, 68, 233, 0)
  );
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
  width: 854px;
  height: 600px;
}