body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-mid-9: 17.9px;
  --font-size-5xl-4: 24.4px;

  /* Colors */
  --color-white: #fff;
  --color-darkgray: #a59c9c;
  --color-whitesmoke: #f9f9f9;
  --color-dimgray: #4e4a4a;

  /* Border radiuses */
  --br-4xs-5: 8.5px;
}
