.bg {
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(50% 50%at 50% 50%, #9135e7, transparent);
  width: 1200px;
  height: 700.4px;
}
.inner-rectangle {
  position: absolute;
  top: 92.12px;
  left: 94.94px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 3.760000228881836px 47px rgba(0, 0, 0, 0.25);
  width: 1200.4px;
  height: 700.3px;
}
.email-address {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 168.26px;
  height: 28.28px;
}
.email-rec {
  position: absolute;
  top: 42.88px;
  left: 0;
  border-radius: 8.46px;
  background-color: var(--color-whitesmoke);
  border: 2.8px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 443.68px;
  height: 41.06px;
}
.inside-email {
  position: absolute;
  top: 52.92px;
  left: 24.44px;
  font-size: 17.86px;
  letter-spacing: 0.09em;
  color: var(--color-darkgray);
  display: inline-block;
  width: 182\.36px;
  height: 20.98px;
}
 .email,
.image-icon {
  position: absolute;
  top: 160.4px;
  left: 135px;
  width: 443.68px;
  height: 200.94px;
} 
.image-icon {
  top: 92.12px;
  left: 676.8px;
  width: 700.54px;
  height: 700.3px;
  object-fit:scale-down;
}
.sign-up1 {
  position: absolute;
  top: 92.4px;
  left: 281px;
  font-size: 56.4px;
  letter-spacing: 0.09em;
  color: #000;
}
.password1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
}
.password-rec {
  position: absolute;
  top: 44.18px;
  left: 0.94px;
  border-radius: 8.46px;
  background-color: var(--color-whitesmoke);
  border: 2.8px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 442.74px;
  height: 42.3px;
}
.inside-email3 {
  position: absolute;
  top: 54.52px;
  left: 24.44px;
  font-size: 17.86px;
  letter-spacing: 0.09em;
  color: var(--color-darkgray);
}
.password {
  position: absolute;
  top: 263.4px;
  left: 135px;
  width: 443.68px;
  height: 86.48px;
}
.create-account,
.login-rec {
  position: absolute;
  top: 0;
  height: 59.22px;
}
.login-rec {
  left: 0;
  border-radius: 8.46px;
  background-color: #9135e7;
  width: 443.68px;
}
.create-account {
  left: calc(50% - 168.26px);
  letter-spacing: 0.14em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 327.12px;
}
.create-account-button {
  position: absolute;
  top: 819.4px;
  left: 137px;
  width: 443.68px;
  height: 59.22px;
  text-align: center;
  color: var(--color-white);
}
.password2,
.password4,
.password6,
.password8 {
  position: absolute;
  top: 376.4px;
  left: 135px;
  width: 443.68px;
  height: 86.48px;
}
.password4,
.password6,
.password8 {
  top: 489.4px;
}
.password6,
.password8 {
  top: 595.4px;
  left: 136px;
}
.password8 {
  top: 700px;
  left: 137px;
}
.sign-up {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 902.4px;
  overflow: hidden;
  text-align: left;
  font-size: 24.44px;
  color: var(--color-dimgray);
  font-family: var(--font-inter);
}
