.bg {
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(50% 50%at 50% 50%, #9135e7, transparent);
  width: 1600px;
  height: 960px;
}
.image-icon,
.inner-rectangle {
  position: absolute;
  top: 98px;
  height: 745px;
}
.inner-rectangle {
  left: 101px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
  width: 1410px;
}
.image-icon {
  left: 720px;
  width: 791px;
  object-fit: cover;
}
.sign-up1 {
  position: absolute;
  top: 177px;
  left: 299px;
  font-size: 60px;
  letter-spacing: 0.09em;
  color: #000;
}
.email-address {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 179px;
  height: 30.09px;
}
.email-rec {
  position: absolute;
  top: 45.62px;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-whitesmoke);
  border: 3px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 472px;
  height: 43.68px;
}
.inside-email {
  position: absolute;
  top: 56.29px;
  left: 26px;
  font-size: var(--font-size-lgi);
  letter-spacing: 0.09em;
  color: var(--color-darkgray);
  display: inline-block;
  width: 194px;
  height: 22.32px;
}
.email {
  position: absolute;
  top: 284px;
  left: 191px;
  width: 472px;
  height: 89.29px;
}
.password1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
}
.password-rec {
  position: absolute;
  top: 47px;
  left: 1px;
  border-radius: var(--br-4xs);
  background-color: var(--color-whitesmoke);
  border: 3px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 471px;
  height: 45px;
}
.inside-email1 {
  position: absolute;
  top: 58px;
  left: 26px;
  font-size: var(--font-size-lgi);
  letter-spacing: 0.09em;
  color: var(--color-darkgray);
}
.password {
  position: absolute;
  top: 401px;
  left: 191px;
  width: 472px;
  height: 92px;
}
.i-read-and {
  top: 0;
  left: 29px;
}
.i-read-and,
.rec,
.term-text {
  position: absolute;
}
.term-text {
  top: 0;
  left: 234px;
  color: var(--color-blueviolet);
  display: inline-block;
  width: 239px;
  height: 22px;
}
.rec {
  top: 4px;
  left: 0;
  border-radius: 7px;
  background-color: var(--color-whitesmoke);
  border: 3px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 22px;
  height: 21px;
}
.terms-and-condition {
  position: absolute;
  top: 528px;
  left: 191px;
  width: 473px;
  height: 27px;
  font-size: var(--font-size-3xl);
  color: var(--color-darkgray);
}
.create-account,
.login-rec {
  position: absolute;
  top: 0;
  height: 63px;
}
.login-rec {
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-blueviolet);
  width: 472px;
}
.create-account {
  left: calc(50% - 179px);
  letter-spacing: 0.14em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 348px;
}
.create-account-button {
  position: absolute;
  top: 586px;
  left: 192px;
  width: 472px;
  height: 63px;
  text-align: center;
  color: var(--color-white);
}
.or-continue-with {
  position: absolute;
  top: 0;
  left: 134px;
  letter-spacing: 0.09em;
}
.continue-with-child,
.continue-with-item {
  position: absolute;
  top: 12.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 120px;
  height: 1px;
}
.continue-with-item {
  left: 351.5px;
}
.continue-with {
  position: absolute;
  top: 671px;
  left: 192px;
  width: 471px;
  height: 27px;
  font-size: var(--font-size-3xl);
  color: var(--color-darkgray);
}
.google1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-whitesmoke);
  border: 3px solid var(--color-orangered);
  box-sizing: border-box;
  width: 187px;
  height: 45px;
}
.google2 {
  position: absolute;
  top: 11px;
  left: 56px;
  letter-spacing: 0.09em;
  display: inline-block;
  width: 197px;
}
.flat-color-iconsgoogle {
  position: absolute;
  top: 6px;
  left: 11px;
  width: 31px;
  height: 33px;
  overflow: hidden;
}
.facebook1,
.google {
  position: absolute;
  height: 45px;
}
.google {
  top: 732px;
  left: 193px;
  width: 253px;
  font-size: var(--font-size-lgi);
  color: var(--color-orangered);
}
.facebook1 {
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-whitesmoke);
  border: 3px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 187px;
}
.facebook2 {
  position: absolute;
  top: 11px;
  left: 63px;
  letter-spacing: 0.09em;
  display: inline-block;
  width: 197px;
}
.logosfacebook-icon {
  position: absolute;
  top: 7px;
  left: 14px;
  width: 35px;
  height: 30px;
  overflow: hidden;
}
.facebook {
  position: absolute;
  top: 732px;
  left: 477px;
  width: 260px;
  height: 45px;
  font-size: var(--font-size-lgi);
  color: var(--color-royalblue);
}
.sign-up {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 960px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-dimgray);
  font-family: var(--font-inter);
}
