{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'CSS Files/global.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS Files/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bangers:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="home">
      <div class="navbar">
        <div class="navigation">
          <div class="leadership-board"><a href="">LEADERSHIP BOARD</a></div>
          <div class="study"><a href=" ">STUDY</a></div>
          <div class="store"><a href="">STORE</a></div>
          <div class="coins"><a href="">COINS</a></div>
          <img
            class="icoutline-leaderboard-icon"
            alt=""
            src="{% static "Images/icoutlineleaderboard.svg"%}"
          />

          <img class="vector-icon" alt="" src="{% static 'Images/vector.svg' %}" />

          <img class="phnotebook-icon" alt="" src="{% static 'Images/phnotebook.svg' %}" />

          <img
            class="phcoins-duotone-icon"
            alt=""
            src="{% static "Images/phcoinsduotone.svg" %}"
          />
        </div>
        <div class="login-button">
          <img class="login-rec-icon" alt="" src="{% static 'Images/login-rec.svg'%}" />
          <b class="login"><a href="../LOGIN PAGE/login.html">LOGIN</a></b>
        </div>
        <div class="quizoo">
          <img class="icon" alt="" src="{% static "Images/icon.svg"%}" />

          <img class="qizzo-rec-icon" alt="" src="{% static "Images/qizzo-rec.svg"%}" />

          <div class="quizoo1">QUIZOO</div>
        </div>                                      
        <div class="sign-up-button">
          <img class="login-rec-icon" alt="" src="{% static "Images/sign-up-rec.svg"%}" />

          <b class="sign-up"><a href="">SIGN UP</a></b>
        </div>
      </div>
      <div class="main">
        <div class="bg-mid"></div>
        <img
          class="d49688b462000f1a628c829aa73c08-icon"
          alt=""
          src="{% static "Images/d49688b462000f1a628c829aa73c0812-1@2x.png" %}" />

        <div class="copyrights">
          <div class="copyright-quiz"><a href="{% url "quiz" %}">COPYRIGHT QUIZ</a></div>
        </div>
        <div class="patents">
          <div class="patent-rec"></div>
          <div class="patents-quiz"><a href="">Patent QUIZ</a></div>
        </div>
        <div class="trademark">
          <div class="patent-rec"></div>
          <div class="trademark-quiz"><a href="">TRADEMARK QUIZ</a></div>
        </div>
      </div>
      <div class="footer">
        <div class="bg-bottom"></div>
        <div class="copyright-c-2023">
          Copyright (c) 2023 QUIZOO | All Rights Reserved
        </div>
        <div class="abhishek-rajput-dhaval-container">
          <p class="abhishek-rajput">Abhishek Rajput</p>
          <p class="abhishek-rajput">Dhaval Bhimani</p>
          <p class="abhishek-rajput">Gautam Rajhans</p>
        </div>
        <img class="people-icon-1" alt="" src="{% static "Images/people-icon-1.svg"%}" />

        <img class="people-icon-2" alt="" src="{% static "Images/people-icon-1.svg"%}" />

        <img class="people-icon-3" alt="" src="{% static "Images/people-icon-3.svg"%}" />

        <div class="designed-by">DESIGNED BY</div>
        <div class="fax-91-05734-222251-container">
          <p class="p">(+91) 05734-222090</p>
          <p class="p">Fax: (+91) 05734-222251</p>
          <p class="abhishek-rajput">quizoo@yahoo.com</p>
        </div>
        <div class="contact-us">CONTACT US</div>
        <img class="phone-icon" alt="" src="{% static "Images/phone.svg"%}" />

        <img class="fax-icon" alt="" src="{% static "Images/fax.svg" %}"/>

        <img class="mssg-icon" alt="" src="{% static "Images/mssg.svg" %}"/>

        <div class="about-us">ABOUT US</div>
      </div>
    </div>
  </body>
</html>
