{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static "CSS Files/login_global.css"%}" />
    <link rel="stylesheet" href="{% static "CSS Files/login.css"%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="login">
      <div class="bg"></div>
      <div class="inner-rectangle"></div>
      <img class="image-icon" alt="" src="{% static "public/image@2x.png"%}" />

      <b class="login1">Login</b>
      <div class="doesnt-have-an">Doesn’t have an account yet?</div>
      <div class="sign-up">Sign up</div>
      <div class="email">
        <div class="email-address">Email Address</div>
        <div class="email-rec"></div>
        <div class="inside-email">you@example.com</div>
      </div>
      <div class="password">
        <div class="email-address">Password</div>
        <div class="password-rec"></div>
        <div class="forgot-password">Forgot Password?</div>
        <div class="inside-email">enter 6 character or more</div>
      </div>
      <div class="remember-me">
        <div class="remember-me1">Remember me</div>
        <div class="remember-me-rec"></div>
      </div>
      <div class="login-button">
        <div class="login-rec"></div>
        <b class="login2">LOGIN</b>
      </div>
      <div class="login-in-with">
        <div class="or-login-with">or login with</div>
        <div class="login-in-with-child"></div>
        <div class="login-in-with-item"></div>
      </div>
      <div class="google">
        <div class="google1"></div>
        <div class="google2">Google</div>
        <img
          class="flat-color-iconsgoogle"
          alt=""
          src="{% static "public/flatcoloriconsgoogle.svg"%}"
        />
      </div>
      <div class="facebook">
        <div class="facebook1"></div>
        <div class="facebook2">Facebook</div>
        <img
          class="logosfacebook-icon"
          alt=""
          src="{% static "public/logosfacebook.svg"%}"
        />
      </div>
    </div>
  </body>
</html>
