<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static "patent.css"%}" />
    <link rel="stylesheet" href="{% static "patent_global.css"%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bangers:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="patent-quiz">
      <div class="top">
        <div class="bg-top"></div>
        <div class="navigation">
          <div class="quizoo">QUIZOO</div>
        </div>
        <img class="icon" alt="" src="{% static "public/icon.svg"%}" />

        <div class="patent-quiz1">PATENT QUIZ</div>
      </div>
      <div class="main">
        <div class="bg-main"></div>
        <img
          class="d49688b462000f1a628c829aa73c08-icon"
          alt=""
          src="{% static "public/d49688b462000f1a628c829aa73c0812-1@2x.png"%}"
        />

        <div class="questions">
          <div class="ques-rec"></div>
          <div class="ques-txt">
            Question 1. WHAT IS THE NAME OF 5TH PLANET OF SOLAR SYSTEM?
          </div>
        </div>
        <div class="option-1">
          <div class="option-rec"></div>
          <div class="option-txt">A. Mercury</div>
        </div>
        <div class="option-2">
          <div class="option-rec1"></div>
          <div class="option-txt">B. Venus</div>
        </div>
        <div class="option-3">
          <div class="option-rec2"></div>
          <div class="option-txt2">C. Earth</div>
        </div>
        <div class="option-4">
          <div class="option-rec3"></div>
          <div class="option-txt2">d. Jupiter</div>
        </div>
      </div>
    </div>
  </body>
</html>
